!!!
%head
  %meta{:charset => "utf-8"}
  %title Sketchy Demo
  %link{:href => "stylesheets/sketchy.css", :rel => "stylesheet", :type => "text/css"}

%body
  #sketch
    .right.alignright
      %a{:href => "#"} some
      |
      %a{:href => "#"} nav
      |
      %a{:href => "#"} links

    %strong Site Title

    %hr

    %h1 Page Title

    .left
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    .right
      %form.box
        %p
          %label First name
          %input{:type => "text", :value => "some text"}
        %p
          %label Select list
          %select
            %option Option 1
            %option Option 2
        %p
          %label
            %input{:type => "checkbox"}
            Check this
          %label
            %input{:checked => "", :type => "checkbox"}
            I'm checked
        %p
          %label
            %input{:name => "set1", :type => "radio"}
            Choose me
          %label
            %input{:checked => "", :name => "set1", :type => "radio"}
            The chosen one
        %p
          %input{:type => "submit", :value => "Press Me!"}

    %table.clear{ :cellspacing => 0 }
      %tr
        %th Name
        %th Email
        %th Phone
        %th Favorite Color
        %th
      %tr
        %td Adam McCrea
        %td adam@edgecase.com
        %td 555-555-5555
        %td Green
        %td
          %a{ :href => '#' } edit
          %a{ :href => '#' } delete
      %tr
        %td Adam McCrea
        %td adam@edgecase.com
        %td 555-555-5555
        %td Green
        %td
          %a{ :href => '#' } edit
          %a{ :href => '#' } delete

    %hr

    %small &copy;2010 Adam McCrea

