/* background texture: http://www.flickr.com/photos/zooboing/4100044654/in/set-72157624157169304/ */

body > #sketch { 
  margin: 0 auto; 
  padding: 10px 20px;
  width: 800px; 
  background: url(/images/background.jpg);
  border: 2px solid #ddd;
  -webkit-box-shadow: 5px 5px 20px rgba(0,0,0,.6);
}

#sketch, #sketch input, #sketch select { 
  font: 100%/1.2 chalkboard, "Comic Sans MS", sans-serif; 
  color: #444;
  text-shadow: -1px 0 1px rgba(0,0,0,.2);
}

#sketch div { padding: 0; }
#sketch p   { margin-top: 0; }

#sketch form {
  margin-bottom: 1em;
}

#sketch label { display: block; padding-bottom: 2px; }

#sketch .field { margin: .5em 0; vertical-align: middle; }
#sketch .buttons { margin: 1em 0; }

#sketch input, #sketch textarea, #sketch select {
  padding: 3px 5px;
  -webkit-appearance: none;
}

#sketch .box, #sketch input, #sketch select, #sketch hr {
  border-width: 3px;
  -webkit-border-image: url(/images/border.png) 3 stretch;
}

#sketch .box {
  padding: .5em;
}

#sketch input[type=checkbox], #sketch input[type=radio] {
  border-width: 0;
  padding: 0;
  margin: 0;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

#sketch input[type=checkbox] { background-image: url(/images/checkbox.png); }
#sketch input[type=checkbox]:checked { background-image: url(/images/checkbox_checked.png); }
#sketch input[type=radio] { background-image: url(/images/radio.png); }
#sketch input[type=radio]:checked { background-image: url(/images/radio_selected.png); }

#sketch hr { 
  clear: both;
  border-width: 0; 
  border-bottom-width: 3px;
}

#sketch input, #sketch select {
  background: transparent;
}

#sketch input[type=submit], #sketch button {
  padding: 3px 8px;
  -webkit-box-shadow: 1px 2px 1px rgba(0,0,0,.5);
  cursor: pointer;
}

#sketch select {
  padding-right: 30px;
  background: url(/images/select_arrow.png) 100% 50% no-repeat;
}

#sketch .left { float: left; width: 48%; }
#sketch .right { float: right; width: 48%; }
#sketch .alignright { text-align: right; }

#sketch .split-2:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

