body > #sketch { 
  margin: 0 auto; 
  width: 800px; 
}

#sketch {
  padding: 10px 20px;
  background: url(/images/background.jpg); /* http://www.flickr.com/photos/zooboing/4100044654/in/set-72157624157169304 */
  border: 2px solid #ddd;
  -webkit-box-shadow: 5px 5px 20px rgba(0,0,0,.6);
  font: 100%/1.2 chalkboard, "Comic Sans MS", sans-serif; 
  color: #444;
  text-shadow: -1px 0 1px rgba(0,0,0,.2);
}


/******* CLASSES ***********/

#sketch .clear      { clear: both; }
#sketch .box        { padding: .5em; border-width: 3px; -webkit-border-image: url(/images/border.png) 3 stretch; }
#sketch .left       { float: left; width: 48%; }
#sketch .right      { float: right; width: 48%; }
#sketch .alignright { text-align: right; }


/******* GENERICS **********/

#sketch div { padding: 0; }
#sketch p   { margin-top: 0; }

#sketch hr { 
  -webkit-border-image: url(/images/border.png) 3 stretch;
  clear: both;
  border-width: 0; 
  border-bottom-width: 3px;
}


/******* FORMS *************/

#sketch form { margin-bottom: 1em; }
#sketch form label { display: block; padding-bottom: 2px; }
#sketch form p { margin-bottom: .7em; }

#sketch input, #sketch textarea, #sketch select { 
  font: 100%/1.2 chalkboard, "Comic Sans MS", sans-serif; 
  color: #444;
  text-shadow: -1px 0 1px rgba(0,0,0,.2);
  border-width: 3px;
  -webkit-border-image: url(/images/border.png) 3 stretch;
  background: transparent;
  padding: 3px 5px;
  -webkit-appearance: none;
}

#sketch select {
  padding-right: 30px;
  background: url(/images/select_arrow.png) 100% 50% no-repeat;
}

#sketch input[type=checkbox], #sketch input[type=radio] {
  border-width: 0;
  padding: 0;
  margin: 0;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

#sketch input[type=checkbox] { background-image: url(/images/checkbox.png); }
#sketch input[type=checkbox]:checked { background-image: url(/images/checkbox_checked.png); }
#sketch input[type=radio] { background-image: url(/images/radio.png); }
#sketch input[type=radio]:checked { background-image: url(/images/radio_selected.png); }

#sketch input[type=submit], #sketch button {
  padding: 3px 8px;
  -webkit-box-shadow: 1px 2px 1px rgba(0,0,0,.5);
  cursor: pointer;
}


/******* TABLES ************/

#sketch table { 
  width: 100%; 
  margin-bottom: 1em;
  border: 1px solid rgba(0,0,0,.1);
}
#sketch th { text-align: left; }
#sketch td, #sketch th {
  padding: 2px 5px;
  border: 1px solid rgba(0,0,0,.1);
}
